html {
    margin: 0px;
    padding: 0px;
}

body {
	padding: 0px;
	margin: 0px;
	background-color: #2D2D30;
	border: 1px solid #A901DB;
	border-bottom: 24px solid  #A901DB;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
  bottom: 0px;
  color: #CCCCCC;
}

#title-bar {
	-webkit-app-region: drag;
	height: 32px;	
	padding: 0px;
    margin: 0px;  
	color: #ADADAD;
  font-family: sans-serif;
  background: #111;
}

#title {
	position: fixed;
	top: 0px;
	left: 12px;	
	line-height: 32px;
	font-size: 14px;
}

#title-bar-btns {
	-webkit-app-region: no-drag;
	position: fixed;
	top: 1px;
	right: 0px;	
}

#title-bar-btns button {
	height: 32px;
	width: 32px;
	background-color: transparent;
	border: none;
	color: #F1F1F1;
	font-size: 16px;
}

#title-bar-btns button:hover {
	background-color: #3F3F41;
}



a {
  color: #F1F1F1;
}

.button {
    background-color: #555555; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: sans-serif;
}

.button:hover {
    background-color: #F1F1F1; /* Green */
    color: #555555;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li.navli {
    float: left;
    
  }
  
  li a.navbtn {
    display: block;
    color: #ADADAD;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover.navbtn {
    background-color: #111;
  }

   /* .main {
    color: #CCCCCC;
    width: 100%;
    height: inherit;
    position: relative;
    background-color: khaki;
    overflow-y: auto;
  }  */
  /* .main:after {
    content: "";
    display: table;
    clear: both;
    position: relative;
  } */

  .menus {
    width: 250px;
    left:0px;
    color: ivory;
    background-color: lawngreen;
    min-height: 100%-50px;
    position: absolute;
  }

  .contents {
    width: 100%-250px;
    min-width: 100%-250px;
    left: 250px;
    background-color: aqua;
    height: 85%;
    position: absolute;
    
  }


  /* .footer {
    clear: left;
    width: 100%;
    left: 0%;
    bottom: 0;
    padding:  0px;
    align-content: center;
    position: absolute;
    color: ivory;
    background-color: lightcoral;
    height: 10%;
  }  */

  